.search_results {
  padding-top: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .ap_name {
    display: flex;
    width: 800px;
  }

  .result_list {}

}
